* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(https://raw.githubusercontent.com/Minhtran1/capstone-/master/Pictures/Singapore.JPG);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

ul {
  /* float: right; */
  list-style-type: none;
} */

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}
ul li.active a {
  background-color: #000;
  color: #fff;
}

.logo {
  color: #000;
  font-family: cursive;
  font-size: 45px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.middle-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.saying {
  font-size: 45px;
  position: relative;


}
.search_box {
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

input[type="text"] {
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0.9);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  outline: none;
  width: 100%;
  margin: 10px;
}

.searchButton {
  padding: 15px;
  border-radius: 7px;
  height: 45px;
}

.button {
  align-items: center;
}

.btn {
  border: 5px solid;
  padding: 5px 40px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}
#gallery img {
  display: block;
  height: auto;
  width: 75%;
  margin: auto;
}

#gallery > * {
  padding: 0.5rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  background-color: black;
}
#Contact {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
#Cities {
  height: 30%;
  width: 30%;
  font-weight: bold;
  text-align: center;
}
#More {
  height: 100%;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

#About {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
